<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PDSCamera.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PDSCameraModule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D6F0CF8A1B8306D300B2EBE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6F0CFA31B8306D300B2EBE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6F0CFE51B830B0700B2EBE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6F0CFEF1B830B0700B2EBE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
